Package: fr.relisiuol.removethatline2
Name: RemoveThatLine2
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Remove border at navigation bar bottom
Maintainer: relisiuol
Author: relisiuol
Section: Tweaks
